[gerrit]
	basePath = /base_code/gerrit_code
	canonicalWebUrl = http://192.168.5.113/
	serverId = 6330a1c7-6896-4c5f-8cfb-45c6ae721800
[database]
	type = h2
	database = /home/gerrit/review_site/db/ReviewDB
[auth]
	type = HTTP
[receive]
	enableSignedPush = false
[sendemail]
	from = gerrit<zhujie@vanzotec.cn>
	smtpServer = smtp.exmail.qq.com
	smtpServerPort = 465
	smtpEncryption = SSL
	sslVerify = false
	smtpUser = zhujie@vanzotec.cn
	smtpPass = Hhxx3868
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8080/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
