[gerrit]
	basePath = base_code
	serverId = b1dd5f8c-8fc4-4f2d-a5f7-d4310571f89f
	canonicalWebUrl = http://192.168.5.113/
[database]
	type = mysql
	hostname = localhost
	database = gerrit
	username = root
[auth]
	type = HTTP
[receive]
	enableSignedPush = false
[sendemail]
	from = gerrit<zhujie@vanzotec.cn>
	smtpServer = smtp.exmail.qq.com
	smtpServerPort = 465
	smtpEncryption = SSL
	sslVerify = false
	smtpUser = zhujie@vanzotec.cn
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-8-openjdk-amd64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8080/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
